/*light theme variables*/
:root{
	--bg: #fff;
	--button: #77DD77;
	--text: #444;
}

/*dark theme variables*/
[data-theme="dark"] {
	--bg: #222;
	--button: #444;
    --text: #fff;
}

body {
    background: var(--bg);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
	align-items: center;
	transition: all .5s; /*smooth transition*/
}

.my-button {
	background-color: var(--button);
	color: var(--text);
	border: 1px var(--button) solid;
	border-radius: 2px;
	cursor: pointer;
	padding: 10px;
	transition: transform .5s;
}

.my-button:hover {
	transform: scale(1.05);
}